APP_IMAGE_TAG:dev
APP_PORT=1052

# Database (External - from app_common_network)
DB_CONNECTION=mysql
DB_HOST=local_mysql_3308
DB_DATABASE=smart-chef
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=secret

DOCKER_NETWORK=app_common_network