APP_NAME=SOL Order MGMT
ENGINE="express"
DB_USER="root"
DB_PASSWORD="secret"
DB_HOST="local_mysql_3308"
DB_PORT="3306"
DB_NAME="sol-order-ms"
DATABASE_URL="mysql://root:secret@local_mysql_3308:3306/sol-order-ms"